body{
	background-color: #563838;
	color:white;
	font-family: 'Oxygen', sans-serif;
	font-size:20px;
}
#bs-example-navbar-collapse-1 a,#brand_name{
	color:white;
}
#nav-list{
	background-color: #563838;
}
.navbar{
	background-color: #F49F05;	
}
*{
	box-sizing: border-box;

}
.container-fluid .contents{
	width:80%;
	border:1px solid black;
	padding:10px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 30px;
	background-color: #6A8A82;
}

.container-fluid .contents a{
	color:black;
	text-decoration: underline;
}

